---
pagination:
  data: collections.clients
  size: 1
  alias: client
permalink: "clients/{{ client.fileSlug }}/index.html"
layout: layout.njk
---

<h1>{{ client.businessName }}</h1>
<p>{{ client.about }}</p>
